colosseum:
  teams:
    - team1
    - team2
    - team3
  instances_type: "container"
  player_number: 6
  public_ip: "0.0.0.0"
  remote: "local"

cluster:
  ansible_user: "user"
  nodes:
    node1: "ip_node1"
    node2: "ip_node2"
    node3: "ip_node3"
  remote: "local"
